{% extends 'UI_Base.html' %}

{% block pageTitle %} File Upload {% endblock %}
{% block title %} Upload the excel file {% endblock %}
{% block card %}
   <form action = "success" method = "post" enctype="multipart/form-data">  
      <div class="stack">
         <div id="fileInput">
            <input type="file" id="file" accept=".xlsx" name="file" onchange="enableUpload(this)"/>
         </div>
         <input disabled id="submit" type = "submit" value="Upload">  
      </div>
   </form>  
{% endblock %}
