{% extends 'UI_Base.html' %}

{% block pageTitle %} File Upload {% endblock %}
{% block title %} Select data for report {% endblock %}
{% block subtitle %} Select the sheets, via the checkboxes, and use the drop down menu to select the columns to report {% endblock %}
{% block card %}
   <form id="data" action = "report" method = "post">  
      <div class="stack">
      {% for sheet in fileStructure %}
         <div class="row">
            <div class="selector">
               <input type="checkbox" id="{{ sheet[0][:2] }}" name="{{ sheet[0][:2] }}" value="{{ sheet[0] }}" onchange="enableUpload(this)"/>
               <label for="{{ sheet[0][:2] }}">{{ sheet[0] }}</label>
            </div>
            <select form="data" name="{{ sheet[0][:2] }}col" id="{{ sheet[0][:2] }}col">
               {% for index, column in sheet[1] %}
               <option value="{{ column }}">{{ index }}</option>
               {% endfor %}
            </select>
         </div>
      {% endfor %}
         <input disabled id="submit" type = "submit" value="Generate">
      </div>
   </form>  
{% endblock %}
