<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <title>{% block pageTitle %}{% endblock %}</title>
      <link rel="stylesheet" href="/styles/UI_style.css">
      <script src="/scripts/validator.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
   <div id="main">
      <div id="header">
         <div>
            <h1>{% block title %}{% endblock %}</h1>
            <h3>{% block subtitle %}{% endblock %}</h3>
         </div>
      </div>
      <div class="card">
         {% block card %}{% endblock %}
      </div>
   </div>
   <div id="footer">
      © 2020 Nokia
   </div>
   </body>
</html>
