<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
   <head>
     <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <title>{% block title %}{% endblock %}</title>
      <style  type="text/css">
         img{
            outline:none; 
            text-decoration:none; 
            -ms-interpolation-mode: bicubic;
         } 
         a img{
            border:none;
         } 
        .image_fix{
            display:block;
         }
      </style>
   </head>
   <body>
      <table id="main">
      {% for area in areas %}
         <tr>
            <td>
               <table class="area" style="width: 100%;">
                  <tr>
                     <td style="font-size: 24px;">
                        <b>{{ area.name }}</b>
                     </td>
                  </tr>
                  {% for project in area.projects %}
                  <tr>
                     <td>
                        <table class="areaContent">
                           <tr>
                              <td>
                                 <table class="statusHeader">
                                    <tr>
                                       <td>
                                          <img alt="status" src="{{ project.code.emoji }}"/>
                                       </td>
                                       <td>
                                          <b>{{ project.customer }} {{ project.country }} {{ project.name }}</b>
                                       </td>
                                    </tr>
                                 </table>
                              </td> 
                           </tr>
                           <tr>
                              <td>
                                 <ul>
                                 {% for description in project.descriptions %}
                                    <li>{{ description }}</li>
                                 {% endfor %}
                                 </ul>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
                  {% endfor %}
               </table>
            </td>
         </tr>   
      {% endfor %}
      </table>
   </body>
</html>
   
