@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
:root{
   --bg: #273142;
   --fg: #EDF2F5;
   --w1: #ffffff;
   --w2: #f7fff7;
   --active: #00E88E;
   --inactive: #98A2AE;
   --blockFg: #f7fff7;
   --blockBg: #494849;
}

body{
   font-family: 'Nunito', sans-serif;
   font-size: 1.1em;
   background: var(--bg);
   color: var(--fg);
}

#main{
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 90vh;
   min-height: 896px;
}

#footer{
   width:96%;
   height: 6vh;
   padding-right: 4%;
   justify-content: bottom;
   text-align: right;
   font-size: .9em;
}

#header{
   text-align: center;
}

.card{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: var(--fg);
   background: var(--bg);
   border-radius: 16px;
   width: 80%;
   max-width: 544px;
   min-width: 304px;
   min-height: 640px;
   padding: 8px;
}

.stack{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.row{
   width: 100%;
   margin: 16px;
}

#submit{
   border: none;
   text-decoration: none;
   align-items: center;
   justify-content: center;
   text-align:center;
   background: var(--active);
   color: var(--bg);
   bottom: 0px;
   height: 3rem;
   width: 8rem;
   border-radius: 16px;
   font-weight: bold;
}

#submit:disabled {
  background: var(--inactive);
}

#fileInput{
   margin-bottom: 32px;
}
form{
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

h1,h2,h3{
   font-weight: inherit;
   color: inherit;
}

a, a:visited, a:hover, a:active {
   color: inherit;
   text-decoration: none;
}
